AutoPA/bin/.idea/
AutoPA/bin/.idea/
AutoPA/bin/VotDecode
AutoPA/bin/VotTrain
AutoPA/bin/VotFrontEnd
AutoPA/bin/VotFrontEnd2
AutoPA/code/learning_tools/cmdline/cmd_line.o
AutoPA/code/learning_tools/cmdline/libcmdline.a
AutoPA/code/learning_tools/cmdline/tester
AutoPA/code/learning_tools/cmdline/tester.o
AutoPA/code/learning_tools/htk_utils/_Darwin_Release/
AutoPA/code/learning_tools/infra2/infra_binary.o
AutoPA/code/learning_tools/infra2/infra_binary.od
AutoPA/code/learning_tools/infra2/infra_exception.o
AutoPA/code/learning_tools/infra2/infra_exception.od
AutoPA/code/learning_tools/infra2/infra_mm_funcs.o
AutoPA/code/learning_tools/infra2/infra_mm_funcs.od
AutoPA/code/learning_tools/infra2/infra_vm_funcs.o
AutoPA/code/learning_tools/infra2/infra_vm_funcs.od
AutoPA/code/learning_tools/infra2/infra_vv_funcs.o
AutoPA/code/learning_tools/infra2/infra_vv_funcs.od
AutoPA/code/learning_tools/infra2/libinfra.a
AutoPA/code/learning_tools/infra2/libinfra_debug.a
AutoPA/code/learning_tools/infra2/tester
AutoPA/code/learning_tools/infra2/tester.od
AutoPA/code/learning_tools/infra2/tester_debug
AutoPA/code/learning_tools/infra2/tester_endian
AutoPA/code/learning_tools/infra2/tester_endian.od
AutoPA/code/vot_predictor/Logger.ddj.h
AutoPA/code/vot_predictor/_Darwin_Debug/
AutoPA/code/vot_predictor/_Darwin_Release/
AutoPA/code/vot_predictor/build/
AutoPA/code/vot_predictor/vot_joint.xcodeproj/project.xcworkspace/xcshareddata/
AutoPA/code/vot_predictor/vot_joint.xcodeproj/project.xcworkspace/xcuserdata/jkeshet.xcuserdatad/UserInterfaceState.xcuserstate
AutoPA/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/InitialVotTrain.xcscheme
AutoPA/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/VotFrontEnd2.xcscheme'
AutoPA/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcschemes/xcschememanagement.plist
AutoPA/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/jkeshet.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AutoPA/code/vot_predictor/vot_joint.xcodeproj/xcuserdata/
AutoPA/code/vot_predictor/_Linux_Release/VotDecode
AutoPA/code/vot_predictor/_Linux_Release/VotFrontEnd2
AutoPA/code/vot_predictor/_Linux_Release/VotTrain

# Frame based model authomatic files
experiments/frame_based_model/feature_extractions/
experiments/frame_based_model/pa_frame_dataset 
experiments/frame_based_model/frame_model.h5


# ignore object files and compiled python
*.pyc
*.o

# ignore examples (within data dir)
*.wav
*.TextGrid
# ignore models
*.pos
*.neg
